<div class="wrap">
<h1>ourSTATS PLUGIN by pluginswp.com</h1>
<p>Create your different statistics for each section of your website.
Enter your ourSTATS.de supplied ID, you can get without registering, visiting ourstats.de</p>
<br/><a href="http://www.pluginswp.com">Download more wordpress plugins and widgets</a><br/><br/>
	<form method="post" action="">
	  <input name="crear" type="hidden" id="crear" value="1">
     <input type='submit' name='' value='NEW ourSTATS stats' />
    </form>
</div>
<hr>
